# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/resources/
/dataSources/
/dataSources.local.xml
*/resources/application.yaml

# Editor-based HTTP Client requests
/httpRequests/
